.container {
    max-width: 750px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
}

.header {
    background-color: #fff;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.header h1 {
    line-height: 40px;
    color: #333;
    font-size: 40px;
    font-weight: 500;
}

.header p {
    color: #737373;
    font-size: 12px;
}

.header span {
    display: inline-block;
    padding: 0px 8px;
}
.profile_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

.profile {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
    
}

.img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    background-color: #fff;
    background-image: linear-gradient(to right, #654ea3, #eaafc8);
    padding: 2px;
}

.author_cont {
    line-height: 10px;
    padding: 10px;
}

.author_cont p {
    font-size: 14px;
    color: #787878;
}

.author_cont span {
    font-weight: 500;
    color: #222;
}

.follow_btn button {
    background-color: #007ac8;
    font-size: 14px;
    color:  #fff;
    font-weight: 600;
    border: 1px solid #007ac8;
    border-radius: 5px;
    padding: 9px 17px;
    cursor: pointer;
}

.follow_btn button:hover {
    opacity: 0.8;
}

.article {
    background-color: #fff;
}

.article img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.social {
    position: absolute;
    padding: 10px;
    margin-top: -30px;
    margin-left: -60px;
}

.social a {
    color: #737373;
    display: inline-block;
    padding: 10px;
}

.social a:hover {
    color: #003891;
}

.social_media {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.social_media a {
    text-decoration: none;
    color: #003891;
}

.social_media a:hover {
    border-bottom: 1px solid #003891;
}

.about_author_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.profile_img {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    border-radius: 100%;
    background-color: #fff;
    background-image: linear-gradient(to right, #654ea3, #eaafc8);
    padding: 2px;
}
.author_name p {
    color: #333;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;
}

.about_author p {
    font-size: 14px;
    color: #333;
}