.container {
    background-color: #9999;
    height: 90.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_flex {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

.form {
    background-color: #f2f2f9;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: auto;
}

.label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #444;
    margin: 20px 0 10px 0;
}

.input {
    border: 1px solid #787878;
    padding: 10px;
    border-radius: 5px;
    width: 94%;
}

.btn {
    background-color: rgb(0, 174, 255);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #eee;
    width: 100%;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}